body {
  background-color: #232323;
}

h1, h2 {
  color: white;
}

.square {
  background-color: red;
  padding-bottom: 30%;
  width: 30%;
  float: left;
  margin: 1.66%;
}

.header {
  margin: 0;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}

#strip {
  background-color: white;
  margin-top: 0;
  height: 30px;
  text-align: center;
  color: black;
}

.selected {
  background-color: blue;
}
